<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Projetos</h1>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-sm btn-primary float-right" routerLink="new">+ Projeto</button>
                <button class="btn btn-sm btn-secondary float-right mr-2" routerLink="metadados">+ Metadados</button>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0" style="height: 600px;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th style="width: 25%; text-align: center;">ID</th>
                                <th style="width: 70%; text-align: left;">Projeto</th>
                                <th style="width: 5%; text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let projeto of projetos">
                                <td>{{ projeto.id }}</td>
                                <td>{{ projeto.name }}</td>
                                <td style="text-align: center;">
                                    <a class="text-muted mr-2" [routerLink]="[projeto.id]">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                    <a class="text-muted" [routerLink]="[projeto.id, 'edit']">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
