<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ projeto?.name }}</h1>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-sm btn-primary float-right" routerLink="">
                    << Voltar</button>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <h5 class="mt-2 mb-4">Metadados</h5>

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let metadado of projeto?.metadados">
                <app-metadado-info [metadado]="metadado"></app-metadado-info>
            </div>

        </div>

    </div>

</section>
